<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Query Optimization - Defer, Only, and Exclude</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
      .pagination {
          margin-top: 20px;
          text-align: center;
      }
      .pagination a {
          color: #333;
          padding: 8px 16px;
          text-decoration: none;
          border: 1px solid #ddd;
          margin: 0 4px;
      }
      .pagination a.active {
          background-color: #4CAF50;
          color: white;
          border: 1px solid #4CAF50;
      }
      .pagination a:hover:not(.active) {
          background-color: #ddd;
      }
  </style>

  </head>
  <body>
    <div class="container">
      <h1>Django Query Optimization - Defer, Only, and Exclude</h1>
      
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Sl</th>
            <th>Name</th>
            <th>Type</th>
            <th>Location</th>
            <td>Square Feet</td>
            <td>Bedroom</td>
            <td>Bathroom</td>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for obj in properties %}
          <tr>
            <td>{{ start_index|add:forloop.counter0 }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.property_type}} </td>
            <td>{{ obj.location.city}} </td>
            <td>{{ obj.square_feet}} </td>
            <td>{{ obj.bedrooms}} </td>
            <td>{{ obj.bathrooms}} </td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        {% if page_obj.has_other_pages %}
          <div class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
      
            <span class="current">
              Page {{ page_obj.number }}
            </span>
      
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>