{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Event Page{% endblock %}

{% block content %} 
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h1>Your Event Calender</h1>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                {% for event in events %}
                <tr>
                    <td>
                        <a href="{% url 'event_detail' event.pk %}">
                            {{event.name}}
                        </a>
                    </td>
                    <td>{{event.starts_at }}</td>
                    <td>{{event.ends_at }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div> 
</div>
{% endblock %}